{% extends "shop/base.html" %}
{% load static %}
{% block title %}Reset your password{% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body>
<main style="margin: 0; float: none;     text-align: left;display:grid;grid-template-columns:5% auto 5%;grid-template-rows:auto minmax(100px, 1fr) auto auto;grid-template-areas:'. . .' '. Header .' '. msg .' '. form .';">
  <h1 style="grid-area: Header; text-align: center;">Reset your password</h1>

  {% if validlink %}
  <p style="grid-area:msg;">Please enter your new password and confirm it:</p>

  <div class="reset-form" style="grid-area: form;display:grid;grid-template-columns:1fr;grid-template-rows:auto
    <form action="." method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <p><input type="submit" value="Change my password" /></p>
    </form>
  </div>
  {% else %}
  <p style="grid-area:msg;">The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
  {% endif %}

</main>
</body>
</html>

{% endblock %}